<html>
  <head>
    <style></style>
  </head>
  <body>
    <div style="display: flex; flex-direction: row; background-color: red">
      <p>1</p>
      <p>1</p>
      <p>1</p>
    </div>
  </body>
</html>
